<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a target="blank" href="<%-link-%>how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/upload?action=excel">Upload Excel</a></li>
                    <li><a href="/upload?action=excel">Upload Json</a></li>

                    <li class="divider"></li>

                    <li><a target="blank" href="<%-link-%>getting-started-with-nodejs">Heroku with Node.js</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-php">Heroku with PHP</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-python">Heroku with Python</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-java">Heroku with Java</a></li>

                    <li class="divider"></li>

                    <li><a target="blank" href="<%-link-%>getting-started-with-go">Heroku with Go</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-clojure">Heroku with Clojure</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-heroku-and-connect-without-local-dev">Heroku Connect</a></li>
                    <li><a target="blank" href="<%-link-%>getting-started-with-jruby">Heroku with Ruby (Microsoft Windows)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
            </li>
        </ul>
    </div>
</nav>