<!DOCTYPE html>
<html lang="en">

    <head>
        
        <%- include ("../partials/header.ejs", {title: "Upload a file"}) %>
    </head>
    <%- include ("../partials/nav.ejs", {link: "https://devcenter.heroku.com/articles/"}) %>

        <body>
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.image-upload-wrap').hide();

                            $('.file-upload-image').attr('data', e.target.result);
                            $('.file-upload-content').show();

                            $('.image-title').html(input.files[0].name);
                        };

                        reader.readAsDataURL(input.files[0]);

                    } else {
                        removeUpload();
                    }
                }

                function removeUpload() {
                    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                    $('.file-upload-content').hide();
                    $('.image-upload-wrap').show();
                }
                $('.image-upload-wrap').bind('dragover', function () {
                    $('.image-upload-wrap').addClass('image-dropping');
                });
                $('.image-upload-wrap').bind('dragleave', function () {
                    $('.image-upload-wrap').removeClass('image-dropping');
                });
                function submit(params) {
                    console.log(params);
                    return false;
                }
            </script>
            <div class="file-upload">

                
                    <%- title -%>
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add File</button>

                        <form action="<%- action -%>" method="post" enctype="multipart/form-data">
                            <input type="checkbox" name="check" id="checkvalu">
                            <label for="check">Par Ligne</label>
                            <br>
                            <input type="number" name="indice" id="index" min="0" step="1" value="0">
                            <label for="index">Indice</label>
                            <div class="image-upload-wrap">
                                <input class="file-upload-input" name="file" type='file' onchange="readURL(this);" accept="<%- accept -%>" />
                                <div class="drag-text">
                                    <h3>Drag and drop a file or select add File</h3>
                                </div>
                            </div>
                            <div class="file-upload-content">
                                <object class="file-upload-image" data="" type=""></object>
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                </div>
                                <input type="submit" class="submit-image" value="Submit" onsubmit="submit(this)">
                            </div>
                        </form>
                    
<% if (jsontext) { %>
                    <form action="<%- action -%>" method="post" enctype="multipart/form-data">
                        <textarea name="textarea" id="jsonarea" cols="100" rows="10"></textarea>
                        <input type="submit" class="submit-image" value="Submit" onsubmit="submit(this)">
                    </form>
<% } %>
            </div>
        </body>

</html>